---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";

const all = [
  {
    title: "Arcade Progress",
    description:
      "A Hack Club Arcade progress viewer with a custom end date and stats.",
    count: "02",
    url: "/02-arcade-progress",
  },
];
const posts = await Astro.glob("../pages/*.mdx");
posts.map((post) => {
  all.push({
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    count: post.frontmatter.count,
    url: post.url,
  });
});

all.sort((a, b) => a.count - b.count);
---

<Layout
  title="Database Index"
  count={0}
  description="A collection of random data and information."
>
  <ul id="items">
    {
      all.map((post) => (
        <li>
          <Link href={post.url}>
            <span class="count">{post.count}.</span>
            <span class="title">{post.title}</span>
          </Link>
          <br />
          <span class="description">{post.description}</span>
        </li>
      ))
    }
  </ul>
</Layout>
