---
import Link from "../components/Link.astro";

interface Props {
  title: string;
  count: number;
  description: string;
}

const { title, count, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script type="module" src="https://unpkg.com/rough-notation?module"
    ></script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h1 id="title">Database</h1>
    <h1 id="count">{count.toString().padStart(2, "0")}</h1>
    <span id="description">{description}</span>
    <br />
    <hr />
    <slot />
    <footer>
      &copy; {new Date().getFullYear()} Eny. <a
        href="https://github.com/EnyCode/database"
        >This website is open source!</a
      >
    </footer>
  </body>
</html>
<style is:global lang="scss">
  :root {
    --text: #252525;
    --text-dark-grey: #414141;
    --text-grey: #6b6b6b;
  }

  // #region Fonts
  @font-face {
    font-family: "iA Writer Mono";
    src: url("/fonts/iAWriterMonoS-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Minecraft";
    src: url("/fonts/Minecraft.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  // #endregion

  #title {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    margin-top: 6rem;
    color: var(--text-dark-grey);
  }

  #count {
    text-align: center;
    font-size: 7rem;
    font-family: "Minecraft";
    margin-top: 0.5rem;
    margin-left: 0.166ch;
    margin-bottom: 0.5rem;
  }

  #description {
    font-size: 1.25rem;
    text-align: center;
    font-weight: 600;
    display: block;
    color: var(--text-grey);
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 25%;
    margin: 3rem auto;

    li {
      border-top: 1px solid var(--text-grey);
      border-bottom: 1px solid var(--text-grey);
      border-width: 2px;
      padding: 1rem;
      margin: 1.5rem 0;

      .count {
        font-family: "Minecraft";
      }

      .description {
        font-size: 1rem;
        color: var(--text-grey);
      }
    }
  }

  footer {
    text-align: center;
    margin-top: 3rem;
    color: var(--text-dark-grey);
    font-size: 0.9rem;
  }

  a {
    color: inherit;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--underline-color);
    transition: text-decoration-color 0.3s;

    &:hover {
      text-decoration-color: var(--underline-hover);
    }
  }

  hr {
    width: 50vw;
    border-width: 2px;
    border-radius: 1rem;
    border-color: var(--text-grey);
  }

  html {
    font-family: "iA Writer Mono", monospace;
    background: #efefef;
    background-size: 224px;
    color: var(--text);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
